<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="textscripts.TC_10_SuggestionSelection"/>
      <class name="textscripts.TC_02_AddingAndRemovingProductFromWishlist"/>
      <class name="textscripts.TC_04_InitializingCheckout"/>
      <class name="textscripts.TC_01_AddProductToWishlistAndCart"/>
      <class name="textscripts.TC_06_AddAddress"/>
       <class name="textscripts.TC_07_DeleteAddress"/>
      <class name="textscripts.TC_05_CheckingManufacturerPincode"/>
      <class name="textscripts.TC_08_ResetFilterAddToWishlist"/>
      <class name="textscripts.TC_09_DateOldToNew"/>
      <class name="textscripts.TC_03_CheckingPincodeTextbox"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
